* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
    "siderbar header"
    "siderbar main"
    "siderbar section"
    "siderbar section";
    grid-template-rows: 80px 1fr 70px auto;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.header, .siderbar, .main, .footer, .section {
    margin: 2px;
    border-radius: 10px;
}

.header {
    grid-area: header;
    background-color: #191827;
}

.header h4 {
    color: white;
    padding: 10px;
}

.icon_container {
    text-align: end;
    margin-right: 5px;
    margin-bottom: 3px;
}

.icon_container i {
    cursor: pointer;
}

/* este siderbar fue tomado de este enlace: https://www.youtube.com/watch?v=V0O4pY2xX10*/

.siderbar {
    grid-area: siderbar;
    position: fixed;
    height: 100%;
    width: 250px;
    left: -250px;
    transition: all .5s ease;
    background-color: #191827;
    overflow: scroll;
}

.siderbar header {
    text-align: center;
    line-height: 60px;
    user-select: none;
    color: white;
}

.siderbar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: white;
    padding-left: 60px;
    border-top: 1px solid rgb(255, 255, 255, .1);
    color: black;
    transition: .4s;
}

.siderbar ul li a {
    color: white;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
}

label #btn {
    left: 270px;
    top: 30px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -220px;
    top: 20px;
    transition: all .5s;
    color: white;
}

#check:checked ~ .siderbar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 270px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 220px;
}

.information_footer {
    text-align: center;
}

.information_footer p {
    margin-top: 20px;
}

.information_footer p a {
    color: white;
}

.information_footer i {
    margin-top: 25px;
    cursor: pointer;
}

.icon_siderbar {
    margin-top: 20px;
}

.icon_siderbar img {
    border-radius: 90px;
}

/* este carrusel image fue tomado de este enlace: https://www.youtube.com/watch?v=bkgnp2lp7FQ*/

.main {
    grid-area: main;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.main ul {
    display: flex;
    width: 400%;
    animation: slider 16s infinite alternate ease-in-out;
}

@keyframes slider {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -107%;}
    45% {margin-left: -107%;}

    50% {margin-left: -210%;}
    70% {margin-left: -210%;}

    75% {margin-left:  0;}
    95% {margin-left: 0%;}
}

.section {
    grid-area: section;
    text-align: center;
    padding: 15px;
    background-color: rgb(20, 29, 29);
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 75% auto auto;
        grid-template-areas: 
        "header"
        "siderbar"
        "main"
        "section";
    }

    .siderbar {
        overflow: scroll;
    }
}